.table{
    border-collapse: collapse;
    border: 1px solid black;
    height: 1000px;
    width: 1000px;
}
.Column1 ,.Column2 ,.Column3 ,.Column4 ,.Column5,.Column6,.Column7{
    background-color: lightgray;
    border: 1px solid black;
}
.Column-bro{
    background-color: #954a4a;
    border: 1px solid black;
}